@import "../abstracts/mixins";
// Font Size
$font-size-xs: 1rem;
$font-size-small: 1.2rem;
$font-size-common: 1.4rem;
$font-size-base: 1.6rem;
$font-size-heading: 1.8rem;
$font-size-highlight: 2.4rem;

// Font Weights
$light: 300;
$normal: 400;
$semibold: 500;
$semiMediumBold: 600;
$bold: 700;
