$primary: #1882ff;
$primary-darker: #3884f7;
$secondary: #e5f2fe;

$heading-bg: #bbddff;

$white: #ffffff;
$black: #000000;

$grey: #4c4c4c;
$grey50: #8e8e93;

// white variations
$off-white: #f5f5f5;
$white-border: #f6f6f6;
$white-bg-seat-availability: #fafafa;

$orange: #ef7e46;

$blue-dark: #235fd8;
