.fs-small {
  font-size: $font-size-small;
}
.fs-medium {
  font-size: $font-size-common;
}
.fs-large {
  font-size: $font-size-base;
}

.fw-normal {
  font-weight: $normal;
}
.fw-medium {
  font-weight: $semibold;
}
.fw-semi-medium {
  font-weight: $semiMediumBold;
}
.fw-bold {
  font-weight: $bold;
}
